# Python 相關
*.egg-info/
.eggs/
*.egg
*.whl
pip-wheel-metadata/
__pycache__/
*.py[cod]
*$py.class

# 虛擬環境、環境設定
venv/
.env
.env.*
instance/            # Flask 的 instance 資料夾（常存私密設定）
  
# 測試、型別檢查快取
.pytest_cache/
.mypy_cache/

# 測試覆蓋率
.coverage
coverage.xml
htmlcov/

# 打包產物
build/
dist/

# 日誌檔
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# 作業系統垃圾檔
.DS_Store
Thumbs.db

# VS Code 工作區設定
*.code-workspace

# 其他 IDE
*.idea/

# ECPay 測試金鑰等敏感資訊
*.ecpay*
node_modules

#前端資料夾
oms-frontend-antd/
# 前端相關
package-lock.json
package.json
package-lock.json
